h1 {
	color: red;
}

#content {
	text-align: center;
	padding-top: 25%; 
}

/*
body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/236x/f9/8c/87/f98c87a378802b93ca803d29e1e95191--office-paper-abstract-backgrounds.jpg");
}

*/