
#productDetailsContainer {
	margin: auto;
	margin-top: 3%;
	border: 2px solid gray;
	border-radius: 10px;
	width: 80%;
}



.container {
	width: 100%;
}

.well {
	margin-bottom: 0;
}

.productImage {
	max-width: 100%;
}