<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>webstore</display-name>
  <!-- 
  <servlet>  
   <servlet-name>products</servlet-name>  
   <servlet-class>com.wap.controller.ProductsServlet</servlet-class>  
   <load-on-startup>1</load-on-startup>  
  </servlet> 
  <servlet-mapping>
	<servlet-name>products</servlet-name>
	<url-pattern></url-pattern>
  </servlet-mapping> 
  -->
  <servlet>  
   <servlet-name>products_admin</servlet-name>  
   <servlet-class>com.wap.controller.ProductListAdminController</servlet-class>  
  </servlet> 
  <servlet-mapping>
	<servlet-name>products_admin</servlet-name>
	<url-pattern>/products_admin</url-pattern>
  </servlet-mapping> 
  <servlet>  
   <servlet-name>product_controller</servlet-name>  
   <servlet-class>com.wap.controller.ProductController</servlet-class>  
  </servlet> 
  <servlet-mapping>
	<servlet-name>product_controller</servlet-name>
	<url-pattern>/product_controller</url-pattern>
  </servlet-mapping> 
  <welcome-file-list>
    <welcome-file>/jsp/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
